@model IEnumerable<ProyectoAula4_SantiagoVieira_JohnSebastianVillegas.Herramienta4RI>

@{
    ViewBag.Title = "Herramientas4RI";
}

<h2>Herramientas4RI</h2>

<p>
    @Html.ActionLink("Crear Nueva Herramienta", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.ID })  |
            @Html.ActionLink("Eliminar", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
