<h2>Mas Detalles</h2>﻿
<h2></h2>
<a href="@Url.Action("IdeaMayorIngresos", "IdeaDeNegocios")" class="btn btn-primary">Idea Con Mayor Ingresos</a>
<h2></h2>
<a href="@Url.Action("IdeasMasRentables", "IdeaDeNegocios")" class="btn btn-primary">Las 3 Ideas de Negocio Más Rentables</a>
<h2></h2>
<a href="@Url.Action("IdeaMayorInversionInfraestructura", "IdeaDeNegocios")" class="btn btn-primary">Idea con Mayor inversion de Infraestructura</a>
<h2></h2>
<a href="@Url.Action("IdeasDesarrolloSostenible", "IdeaDeNegocios")" class="btn btn-primary">Ideas con Desarrollo Sostenible</a>
<h2></h2>
<a href="@Url.Action("IdeasIngresosMayoresAlPromedio", "IdeaDeNegocios")" class="btn btn-primary">Ideas Con Ingresos Mayores al Promedio</a>
<h2></h2>
<a href="@Url.Action("SumaTotalIngresos", "IdeaDeNegocios")" class="btn btn-primary">Suma Total De Ingresos De Todas Las Ideas</a>
<h2></h2>
<a href="@Url.Action("SumaTotalInversion", "IdeaDeNegocios")" class="btn btn-primary">Suma Total De Inversion De Todas Las Ideas</a>

