<h2>Mas Detalles</h2>﻿
<h2></h2>
<a href="@Url.Action("IdeaMayorIngresos", "IdeaDeNegocios")" class="btn btn-primary">Idea Con Mayor Ingresos</a>
<h2></h2>
<a href="@Url.Action("IdeasMasRentables", "IdeaDeNegocios")" class="btn btn-primary">Ideas de Mayor Ingresos</a>
<h2></h2>
<a href="@Url.Action("IdeaMayorInversionInfraestructura", "IdeaDeNegocios")" class="btn btn-primary">Idea Mayor inversion de Infraestructura</a>
<h2></h2>
<a href="@Url.Action("IdeasDesarrolloSostenible", "IdeaDeNegocios")" class="btn btn-primary">Idea con Desarrollo Sostenible</a>
<h2></h2>
<a href="@Url.Action("IdeasIngresosMayoresAlPromedio", "IdeaDeNegocios")" class="btn btn-primary">Ideas Con Ingresos Mayores al Promedio</a>
<h2></h2>
<a href="@Url.Action("SumaTotalIngresos", "IdeaDeNegocios")" class="btn btn-primary">Suma Total Ingresos</a>
<h2></h2>
<a href="@Url.Action("SumaTotalInversion", "IdeaDeNegocios")" class="btn btn-primary">Suma Total Inversion</a>

